APP_DEBUG=true
APP_KEY=4Yy6rPmHAv0aQkXn6U6M1cSJo5cTpAX9
APP_ENV=local
APP_URL=http://localhost

RESOURCES_NAME=dev-enfolink-resources
ASSETS_PATH=http://s3.amazonaws.com/dev-enfolink-assets

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mandrillapp.com
MAIL_PORT=587
MAIL_USERNAME=enfolink
MAIL_PASSWORD=vdmREXYIFKOaEtu-ckFHZQ
MAIL_ENCRYPTION=null


DB_HOST=localhost
DB_DATABASE=enfolink
DB_USERNAME=forge
DB_PASSWORD=forge
